<!-- footer.html -->

<footer class="text-white py-4"><br>
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <!-- Social media icons with links -->
                <a href="https://www.facebook.com" class="text-white me-3"><i class="bi bi-facebook"></i></a>
                <a href="https://x.com" class="text-white me-3"><i class="bi bi-twitter"></i></a>
                <a href="https://www.instagram.com" class="text-white me-3"><i class="bi bi-instagram"></i></a>
                <a href="https://www.instagram.com" class="text-white me-3"><i class="bi bi-linkedin"></i></a>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col text-center">
                <!-- Navigation links -->
                <a href="{% url 'home' %}" class="text-white mx-3">Home</a>
                <a href="{% url 'about' %}" class="text-white mx-3">About</a>
                <a href="{% url 'contact' %}" class="text-white mx-3">Contact</a>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col text-center">
                <p>&copy; 2024 Your Company. All rights reserved.</p>
            </div>
        </div>
    </div>
</footer>
